/* Patches for materialize */
.container {
  width: 90% !important;
  max-width: none;
}

.brand-logo {
  padding-left: 20px !important;
}

@media only screen and (min-width: 992px) {
  nav .brand-logo {
    float: left;
    padding-right: 20px;
    position: initial;
  }
}

.btn, .btn-large, .btn-flat {
  text-transform: none;
}

#feedDates .badge {
  position: absolute;
  margin-left: 0;
  line-height: inherit;
}

.collection-item, .btn-link {
  cursor: pointer;
}

body {
  font-size: 15px;
  font-family: 'Montserrat', 'Source Han Sans TW', 'Noto Sans CJK TW', Arial, Helvetica, sans-serif;
}

.pagination li.pages {
  width: 30px;
}

/* Card */
.card a {
  color: #262626;
}

.card-header {
  padding: 14px 20px !important;
}

.card-owner {
  display: block;
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
}

.card-owner a, .card-owner span {
  max-width: 100%;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-profile img {
  margin: -1px 10px -1px -5px;
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
  width: 40px;
  height: 40px;
}

.card .card-content {
  word-break: break-all;
  overflow: hidden;
  max-height: 100px;
  padding: 10px 20px;
}

.likeIcon {
  color: #ed4956 !important;
}

.commentIcon, .reloadBtn {
  color: #3f51b5 !important;
}

/* Magnific Popup */
.mfp-title {
  padding-right: 50px;
}

.mfp-caption {
  width: 80%;
  max-width: 600px;
  max-height: 600px;
  overflow-y: auto;
  word-break: break-all;
  background: #fafafa;
  padding: 15px;
  margin: 0 auto;
}

.card-video {
  opacity: 0.6;
}

.card-video i {
  color: #eeeeee;
  font-size: 6em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -45px;
  margin-top: -45px;
  z-index: 1;
  text-shadow: 0 0 10px #673AB7;
  cursor: pointer;
}
