/* Patches for materialize */
.container {
  width: 90% !important;
}

.brand-logo {
  padding-left: 20px !important;
}

.btn, .btn-large, .btn-flat {
  text-transform: none;
}

.dropdown-content.active {
  position: fixed !important;
}

#feedDates .badge {
  position: absolute;
  margin-left: 0;
  line-height: inherit;
}

.collection-item, .btn-link {
  cursor: pointer;
}

@media only screen and (min-width: 601px) {
  #feedItems .col.m6 {
    width: 48%;
  }
}

@media only screen and (min-width: 993px) {
  #feedItems .col.l4 {
    width: 32%;
  }
}

body {
  font-size: 15px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.pagination li.pages {
  width: 30px;
}

/* Card */
.card a {
  color: #262626;
}

.card-header {
  padding: 14px 20px !important;
}

.card-owner {
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  overflow: hidden;
}

.card-owner a, .card-owner span {
  display: block;
  max-width: 100%;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-profile img {
  margin: -1px 10px -1px -5px;
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
  width: 40px;
  height: 40px;
}

.card .card-content {
  word-break: break-word;
  overflow: hidden;
  max-height: 100px;
  padding: 10px 20px;
}

.likeIcon {
  color: #ed4956 !important;
}

.commentIcon {
  color: #3f51b5 !important;
}

/* Magnific Popup */
.mfp-title {
  padding-right: 50px;
}

.card-video {
  opacity: 0.6;
}

.card-video i {
  color: #eeeeee;
  font-size: 6em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -45px;
  margin-top: -45px;
  z-index: 1;
  text-shadow: 0 0 10px #673AB7;
  cursor: pointer;
}
